

/*NAVBAR*/
.navbar .navbar-logo:hover {
  color: #dc3545;
}


/*TIMER*/
.timer-container {
  height: 300px;
  width: 300px;
}

.timer-container div.timer-inner {
  border: 3px solid #fff!important; 
}